* {
  box-sizing: border-box;
}

body{
    background:rgb(8, 8, 8);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    }
.title {
  color: rgb(251, 251, 251);
}

.li {
    color: rgb(227, 227, 233);
    line-height: 30px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.li i {
  margin-right: 10px;
}
  
.limenu {
  color: rgb(250, 250, 253);
  margin: 10px;
  list-style: none;
}

.slider-section {
  width: 100%;
  position:relative;
}

.slider-section .slider {
  position: relative;
  display: flex;
  overflow: hidden;
}

.slider-section .slider .item {
  width: 150px;
  height: 150px;
  position: relative;
  background-color: rgb(0, 0, 0);
  flex-shrink: 0;
  margin-right: 10px;
}

.info-section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, .3);
}

.info-section > span{
  display: block;
}

.music-title {
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 20px;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

.menu-section {
  flex: 0 0 15%;
}

.main{
  flex: 0 0 85%;
  overflow-y: hidden;
}

.player-controls{
  background-color: rgb(73, 69, 69);
  height: 100px;
  width: 100%;
}

.played-recently-ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.played-recently-li {
  list-style: none;
  flex: 25%;
  height: 75px;
}

.played-recently-item-container {
  padding: 0 5px 5px 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.played-recently-item-container > img {
  flex: 0 0 70px;
}

.played-recently-item-container > div {
  flex: 0 0 calc(100% - 70px);
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.played-recently-item-container > div > span {
  vertical-align: middle;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.player-controls {
  display: flex;
  justify-content: space-between;
}

.player-controls-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding-right: 10px;
}

.title-left {
  vertical-align: middle;
  color: white;
  padding: 10px;
  font-size: 15px;
}

.player-controls-left-item {
  display: flex;
  align-items: center;
}

.player-controls-left-item > img {
  flex: 0 0 70px;
  margin-left:  10px;
  padding-left: 10px;
}

.player-controls-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}

.player-controls-center > .timeline {
  width: 100%;
}

.player-controls-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-buttons-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  justify-items: left;
  width: 100%;
}

.control-buttons-list i {
  color: white;
  cursor: pointer;
}

.bars-button {
  display: none;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bars-button {
  width: 50px;
  height: 50px;
  background: transparent;
  color: white;
  border: none;
}

@media only screen and (min-width: 601px) { /** IPAD */
  body {
  }
}

@media only screen and (min-width: 1000px) { /** DESKTOP */
  body {
  }
}

@media only screen and (max-width: 600px) { /** MOBILE */
  .main,
  .menu-section {
    flex: 100%;
  }

  .played-recently-li {
    flex: 50%;
  }

  .player-controls {
    margin-top: 50px;
  }

  header,
  .player-controls-left,
  .player-controls-right { 
    display: none;
  }

  .player-controls-center {
    width: 100%;
  }
  
  .bars-button {
    display: block;
  }

}