* {
  box-sizing: border-box;
}

body{
    background:rgb(8, 8, 8);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    }
.title {
  color: rgb(251, 251, 251);
}

.li {
    color: rgb(227, 227, 233);
    line-height: 30px;
}
  

.limenu {
  color: rgb(250, 250, 253);
  margin: 10px;
}


.slider-section {
  width: 100%;
  position:static;
}

.slider-section .slider {
  position: relative;
  display: flex;
  overflow: hidden;
}

.slider-section .slider .item {
  width: 195px;
  height: 170px;
  position: relative;
  background-color: rgb(0, 0, 0);

  flex-shrink: 0;
  margin-right: 10px;
}

.info-section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, .3);
}

.info-section > span{
  display: block;
}

.music-title {
  color: rgb(3, 2, 2);
  padding: 10px;
  font-size: 20px;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

.menu-section{
  flex: 0 0 15%;
}

.main{
  flex: 0 0 85%;
  overflow-y: hidden;
}

.player-controls{
  background-color: grey;
  height: 100px;
  width: 100%;
}

.played-recently-ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}


.played-recently-li {
  list-style: none;
  flex: 25%;
  height: 75px;
  /*
  margin-bottom: 5px;
  margin-right: 5px;
  */
}
.played-recently-item-container {
  padding: 0 5px 5px 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.played-recently-item-container > img {
  flex: 0 0 70px;
}

.played-recently-item-container > div {
  flex: 0 0 calc(100% - 70px);
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.played-recently-item-container > div > span {
  vertical-align: middle;
  color: white;
  margin-left: 10px;
}