body{
    background:rgb(126, 25, 109);
    font-family:Arial, Helvetica, sans-serif;
    margin: 30px
    }

    
  .header {
  background: url(https://content.codecademy.com/projects/innovation-cloud/bg.jpg) no-repeat center center; 
  background-size: cover;
  height: 500px;
  text-align: center; 
}
  .title {
    color: rgb(187, 25, 25);

  }
  .container {
    margin: 0 auto;
    max-width: 940px; 
    padding: 0 10px;
  }

  .nav { 
    background: rgb(72, 161, 94);
    height: 100%; 
    width: 100%;
  }
  

  .jumbotron {
    background: url(https://content.codecademy.com/projects/innovation-cloud/jumbotron_bg.jpg) center center;
    background-size: cover;
    height: 500px; 
    margin: 0 auto;
    max-width: 940px; 
    padding: 0 10px;
  }
  
  .principal{
    display: block;
    width: 300px;
    padding: 31px 5px;
    border-radius: 5px;
    margin: 20% auto;
    background-color: orange;
    text-align: center;
    font-family: Helvetica;
    font-size: 32px;
    color: rgb(1, 5, 3);

  }

  a:hover {
    background-color: limegreen;
  }

  .limenu {
    color: rgb(13, 6, 82);
    float: left;
    list-style: none;
    margin: 10px;
  }